{
  "env": {
    "browser": true
  },
  "rules": {
    "quotes": [2, "single"],
    "comma-dangle": [2, "always-multiline"],
    "strict": [2, "function"],
    "no-console": 1,
    "no-use-before-define": [2, "nofunc"],
    "no-underscore-dangle": 0,
    "no-loop-func": 0
  }
}
